<div class="blog-wrapper">
  <div class="main">
    <div class="left">
      <h2>Nuestro Blog</h2>
      <p>
        Creamos este blog porque queremos compartir contigo información relevante sobre el mundo de las finanzas.
      </p>
      <p>
        En este segmento iremos creando distintas entradas que te permitan aprender más sobre los distintos productos
        que ofrece el mercado. Publicaremos artículos, videos e información útil para aprender más sobre finanzas
        personales.
      </p>
      <p>
        De la mano de reconocidos profesionales en el área, buscamos brindarte la mayor cantidad de información posible,
        para que aprendas a tomar mejores decisiones financieras.
      </p>
    </div>
    <div class="right">
      <img src="/images/sub-main-1.png" alt="">
    </div>
  </div>
  <div class="entradas-wrapper">
    <h3>Últimas entradas</h3>
    <div class="items-wrapper">
      <div class="item z-depth-1">
        <img src="/images/blog_1_1.jpeg" alt="">
        <h4>¿Cómo cuidar tus finanzas personales?</h4>
        <div class="extra-info">
          <span>10/05/2021</span>
          <span>- Por Tomás Mersán</span>
        </div>
          <p>¿Cuánto dinero ahorro? ¿Necesito invertir? ¿Guardo la plata debajo del colchón? ¿Qué pasa si tengo un accidente y no tengo recursos para cubrir los gastos?</p>
          <a href="/blog/finanzas-personales">Leer más</a>
      </div>
    </div>
  </div>

</div>