<div class="como-funciona-wrapper">
  <div class="main">
    <div class="left">
      <h2>¿Cómo funciona?</h2>
      <p>Buscamos democratizar y exponer toda la información bancaria de una forma clara y transparente.</p>
      <p>Toda la información, parte de fuentes públicas y accesible por cualquier usuarios, y nosotros nos tomamos el trabajo de procesarla y mostrar de una forma más sencilla de entender.</p>
      <p>A continuación te contamos como funciona el proceso si estás interesado en alguno de los productos que aparecen.</p>
    </div>
    <div class="right">
      <img src="/images/sub-main-1.png" alt="">
    </div>
  </div>
  <div class="second-row">
    <div class="item-wrapper">
      <div class="left">
        <img src="/images/como-1.svg" alt="">
      </div>
      <div class="right">
        <h4>1 | Seleccioná un producto</h4>
        <p>Al hacer click en el botón de “Quiero este producto” te redireccionaremos a un formulario específico del producto seleccionado. </p>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="left">
        <img src="/images/como-2.svg" alt="">
      </div>
      <div class="right">
        <h4>2 | Rellená el formulario</h4>
        <p>El formulario es distinto para cada producto, ya que la información necesaria varía según el producto. Toda la información es privada y solo será compartida con un ejecutivo de venta correspondiente a la entidad financiera que oferta dicho producto. Puedes leer más en los Términos y Condiciones.</p>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="left">
        <img src="/images/como-3.svg" alt="">
      </div>
      <div class="right">
        <h4>3 | Enviá la info</h4>
        <p>Toda la información es tratada con estricto control de privacidad. No compartimos tu información con otras entidades. Un ejecutivo comercial de la entidad financiera seleccionada, se pondrá en contacto contigo para avanzar con el producto en el que estas interesado.</p>
      </div>
    </div>
    <div class="last-row">
      <div class="left">
        <img src="/images/como-4.svg" alt="">
      </div>
      <div class="right">
        <p>Este servicio es completamente gratuito y no debe generarte ningún coste por parte de la entidad bancaria.
<br><br>
El asesor comercial podrá ofrecerte productos similares pero en ningún caso este proceso conlleva un recargo por parte de las entidades financieras.</p>
      </div>
    </div>
  </div>
  
</div>