<div class="como-funciona-wrapper">
  <div class="main">
    <div class="left">
      <h2>¿Cómo funciona?</h2>
      <p>Solo tenés que buscar el producto financiero que más te interese o que necesites, revisar sus características, y hasta podes compararlo con otros. Si algún producto te interesa, te registras y te ayudamos a conseguirlo.</p>
      <p>Buscamos democratizar el acceso a los productos financieros del mercado, exponiendo toda la información relevante de manera clara y transparente.</p>
      <p>Toda la información de la plataforma parte de fuentes públicas y es accesible para cualquier usuario. Nosotros nos tomamos el trabajo de procesarla y organizarla para vos, para que sea fácil de entender.</p>
    </div>
    <div class="right">
      <img src="/images/sub-main-1.png" alt="">
    </div>
  </div>
  <div class="second-row">
    <div class="item-wrapper">
      <div class="left">
        <img src="/images/como-0.svg" alt="">
      </div>
      <div class="right">
        <h4>1 | Buscá un producto</h4>
        <p>Desde nuestros buscadores buscá lo que más necesites. Revisá sus características. Podés compararlo con otros.</p>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="left">
        <img src="/images/como-1.svg" alt="">
      </div>
      <div class="right">
        <h4>2 | Seleccioná el producto</h4>
        <p>Al hacer click en “me interesa este producto” te redireccionaremos a un formulario para registrarte con nosotros.</p>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="left">
        <img src="/images/como-2.svg" alt="">
      </div>
      <div class="right">
        <h4>3 | Completá el formulario</h4>
        <p>Tras registrarte, el formulario será distinto para cada producto. Toda la información es privada y solo será compartida, con tu consentimiento, con la entidad financiera correspondiente. Podés leer más en nuestros Términos y Condiciones.</p>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="left">
        <img src="/images/como-3.svg" alt="">
      </div>
      <div class="right">
        <h4>4 | Dale enviar</h4>
        <p>Toda la información será tratada con un estricto control de privacidad. No compartimos tu información con otras entidades. Con tu permiso, solo enviaremos tu información a la entidad financiera del producto que te interesa.</p>
      </div>
    </div>
    <div class="last-row">
      <div class="left">
        <img src="/images/como-4.svg" alt="">
      </div>
      <div class="right">
        <p>Este servicio es completamente gratuito y no debe generarte ningún costo por parte de nuestra plataforma, ni tampoco de la entidad bancaria.
<br><br>
El asesor comercial de cada entidad financiera podrá ofrecer productos similares pero en ningún caso este proceso conlleva un recargo por parte de las entidades financieras.</p>
      </div>
    </div>
  </div>
  
</div>