<div class="terminos-wrapper">
  <div class="main">
<h2>

    Política de privacidad
</h2>
<p>


    Esta política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita o
    hace una compra en www.abako.com.py (“el Sitio”).
</p>
<h3>

    INFORMACIÓN PERSONAL QUE RECOPILAMOS
</h3>
<p>

    Cuando visita el Sitio, recopilamos automáticamente cierta información sobre su dispositivo, incluida información
    sobre su navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en su dispositivo.
    Además, a medida que navega por el Sitio, recopilamos información sobre las páginas web individuales o los productos
    que usted ve, los sitios web o los términos de búsqueda que le remitieron al Sitio, y la información sobre cómo
    interactúa con el Sitio. Nos referimos a esta información recopilada automáticamente como “Información del
    Dispositivo”.
</p>
<h3>

    Recopilamos información del dispositivo usando las siguientes tecnologías:
</h3>
<p>

   <br> - Las “cookies” son archivos de datos que se colocan en su dispositivo o computadora y a menudo incluyen un
    identificador único anónimo. Para obtener más información sobre las cookies y sobre cómo desactivar las cookies,
    visite http://www.allaboutcookies.org.
    <br>- “Registrar archivos” rastrea las acciones que ocurren en el Sitio, y recopilar datos que incluyen su dirección IP,
    tipo de navegador, proveedor de servicios de Internet, páginas de referencia / salida y sellos de fecha / hora.
    <br>- Las “balizas web”, las “etiquetas” y los “píxeles” son archivos electrónicos que se utilizan para registrar
    información sobre cómo navega por el Sitio.
</p>
<p>


    Además, cuando realiza una compra o intenta realizar una compra a través del Sitio, recopilamos cierta información
    de usted, incluyendo su nombre, dirección de facturación, dirección de envío, información de pago (incluidos los
    números de tarjeta de crédito), dirección de correo electrónico y número de teléfono. Nos referimos a esta
    información como “Información de Pedido”.
</p>
<p>

    Cuando hablamos de “Información Personal” en esta política de privacidad, estamos hablando tanto de Información del
    Dispositivo como de Información del Pedido.
</p>
<h3>

    ¿COMO USAMOS TU INFORMACIÓN PERSONAL?
</h3>
<p>

    Usamos la Información del Pedido que recopilamos en general para cumplir con los pedidos realizados a través del
    Sitio (incluido el envío de dicha información a la entidad financiera de referencia). Además, utilizamos esta
    información para:
  <br>  - Comunicarnos contigo;
    <br>- Examinar los pedidos de posibles riesgos o fraudes; y
    <br>- Cuando esté en línea con las preferencias que ha compartido con nosotros, proporcione información o publicidad
    relacionada con nuestros productos o servicios.
</p>
<p>

    Usamos la Información del Dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes (en
    particular, su dirección IP) y, en general, para mejorar y optimizar nuestro sitio (por ejemplo, al generar análisis
    sobre cómo nuestros clientes exploran e interactúan con el Sitio, y para evaluar el éxito de nuestras campañas de
    marketing y publicidad).
</p>
<h3>

    COMPARTIR SU INFORMACIÓN PERSONAL
</h3>
<p>

    Compartimos su información personal solo con las entidades financieras a través de la autorización del Usuari, para
    generar el vínculo comercial para el contrato del producto de referencia.
</p>
<p>


    También utilizamos Google Analytics para ayudarnos a comprender cómo usan nuestros clientes el Sitio; puede obtener
    más información sobre cómo Google usa su Información Personal aquí:
    https://www.google.com/intl/es/policies/privacy/. También puede darse de baja de Google Analytics aquí:
    https://tools.google.com/dlpage/gaoptout.
</p>
<p>


    Finalmente, también podemos compartir su Información Personal para cumplir con las leyes y regulaciones aplicables,
    para responder a una citación, orden de registro u otra solicitud legal de información que recibimos, o para
    proteger nuestros derechos de otra manera.
</p>
<h3>

    PUBLICIDAD CONDUCTUAL
</h3>
<p>

    Como se describió anteriormente, utilizamos su Información Personal para proporcionarle anuncios específicos o
    comunicaciones de marketing que creemos que pueden ser de su interés. Para obtener más información sobre cómo
    funciona la publicidad dirigida, puede visitar la página educativa de la iniciativa publicitaria de la red (“NAI”)
    en http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.

</p>
<p>
  
    Puede optar por excluirse de la publicidad dirigida mediante los siguientes enlaces:
  <br>  - Facebook: https://www.facebook.com/settings/?tab=ads
    <br>- Google: https://www.google.com/settings/ads/anonymous
    <br>- Bing: https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads
</p>
<h3>

    NO SEGUIR

</h3>
<p>

    Tenga en cuenta que no alteramos las prácticas de recopilación y uso de datos de nuestro Sitio cuando vemos una
    señal de no rastrear desde su navegador.
</p>
<h3>

    TUS DERECHOS
</h3>
<p>

    Si usted es un residente europeo, tiene derecho a acceder a la Información Personal que tenemos sobre usted y para
    pedir que la corrija, actualice o. Si desea ejercer este derecho, comuníquese con nosotros a través de la
    información de contacto a continuación. Además, si es un residente europeo, observamos que estamos procesando su
    información para cumplir con los contratos que podamos tener con usted (por ejemplo, si realiza un pedido a través
    del Sitio), o de lo contrario para perseguir nuestros intereses comerciales legítimos enumerados anteriormente.
    Además, tenga en cuenta que su información será transferida fuera de Europa, incluyendo a Canadá y los Estados
    Unidos.
</p>
<h3>

    RETENCIÓN DE DATOS
</h3>
<p>
  
    Cuando haga un pedido a través del Sitio, mantendremos su Información de Pedido para nuestros registros a menos y
    hasta que nos pida que eliminemos esta información.
</p>
<p>

    Podríamos actualizar esta política de privacidad de vez en cuando para reflejar, por ejemplo, cambios en nuestras
    prácticas o por otros motivos operacionales, legales o reglamentarios.
</p>
<h3>

    CONTÁCTENOS
</h3>
<p>

    Para obtener más información acerca de nuestras prácticas de privacidad, si tiene alguna pregunta o desea realizar
    un reclamo, contáctenos por correo electrónico a _________@abako.com.py.

</p>




  </div>
</div>