<div class="productos-wrapper">
  <div class="main">
    <div class="left">
      <h2>Nuestros Productos</h2>
      <p>A continuación te mostramos los productos disponibles en la web.</p>
      <p>Constantemente estamos buscando agregar nuevos productos financeros que estén disponibles para que puedas tomar mejores decisiones.</p>
      <p>Si estás interesado en algún producto que no encontrás más abajo, contamos y lo investigamos por vos.</p>
    </div>
    <div class="right">
      <img src="/images/sub-main-2.png" alt="">
    </div>
  </div>
</div>