<div class="terminos-wrapper">
  <div class="main">
    <h2>
      Términos y condiciones
    </h2>
    <h3>

      EN GENERAL
    </h3>
    <p>

      Los presentes términos y condiciones (los “Términos y Condiciones”) se aplicarán a la navegación en la página web
      www.abako.com.py (el “sitio web”), así como a las relaciones que surjan de la misma. El sitio web pertenece a
      __________ (“La Empresa”), con domicilio en _________________, de la ciudad de Asunción, República del Paraguay.
      Los
      Términos y Condiciones deben ser aceptados expresamente por los usuarios del sitio web (los “Usuarios”) para la
      navegación en el sitio web. Se considerará que quien utilice el sitio web ha aceptado los Términos y Condiciones.
      Quien no los acepte, deberá abstenerse de utilizar el sitio web.
    </p>
    <h3>

      MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES
    </h3>
    <p>

      La Empresa se reserva el derecho de modificar los Términos y Condiciones a su discreción, en cualquier momento,
      sin
      que ello dé lugar a indemnización alguna a favor de los Usuarios. En caso de que La Empresa proceda a la
      modificación, los Usuarios tendrán que aceptar nuevamente los Términos y Condiciones para seguir navegando en el
      sitio web. A tal efecto, serán notificados al ingresar al sitio web. Si no aceptan las modificaciones, perderán el
      derecho a acceder al sitio web. Se considerará que aceptan los Términos y Condiciones si una vez notificados de
      los
      cambios, utilizan nuevamente el sitio web.
    </p>
    <h3>

      REGISTRO ONLINE
    </h3>
    <p>

      Para realizar cualquier interacción que derive en entidades financieras, los Usuarios deben registrarse. La
      información suministrada al registrarse (los “Datos”) se guardará en la base de datos La Empresa. Los Datos
      recabados podrán ser utilizados por La Empresa para enviar promociones y otras actividades. Para verificar
      específicamente los fines del uso de los Datos y otras cuestiones relacionadas a los mismos, acceder a la _______
      (link sobre Política de Privacidad). Es responsabilidad exclusiva de los Usuarios resguardar la confidencialidad
      de
      la clave utilizada para el registro y acceso al sitio web. Deberá mantenerla para su uso personal y no compartirla
      con terceros.
    </p>
    <h3>

      SERVICIO DE BÚSQUEDA Y COMPARACIÓN
    </h3>
    <p>

      Abako es una plataforma de intermediación de información financiera. Ofrece una plataforma de búsqueda y
      comparación
      de los distintos productos ofrecidos en el mercado financiero. Esta información es de fuente pública, accesible a
      todos los usuarios que lo requieran.
    </p>
    <p>

      Abako se encarga de compilar y organizar la información relevante, a fin de facilitar el acceso y la comparación
      de
      la información publicada. El propósito del servicio de búsqueda y comparación es facilitar a los usuarios la toma
      de
      decisiones financieras.
    </p>
    <h3>

      DESCARGO DE RESPONSABILIDAD

    </h3>
    <p>

      Abako trabajo constantemente para mantener toda la información precisa y al día sobre los productos financieros
      ofrecidos. La información exhibida puede ser diferente de lo que ves al visitar la institución financiera o la
      página web de la misma, debido a demoras en la actualización o errores en la información de las distintas fuentes
      públicas. Todos los productos financieros y servicios son expuestos sin garantías. Al evaluar y comparar las
      ofertas
      del mercado, te instamos a revisar los términos y condiciones de cada entidad financiera.
    </p>
    <h3>


      ENLACES A SITIOS DE TERCEROS
    </h3>
    <p>

      El sitio web puede contener enlaces o vínculos a sitios de internet que son de propiedad o están bajo el control
      de
      terceros y que no son controlados por La Empresa (los “sitios de terceros”). La existencia de estos enlaces o
      vínculos no implica que exista alguna clase de sugerencia, invitación o recomendación para la visita a los sitios
      de
      terceros o ninguna clase de asociación entre La Empresa y los mismos. La Empresa no es la responsable por el
      contenido, servicios, términos y condiciones de uso, políticas de privacidad y/o prácticas de los sitios de
      terceros. La Empresa recomienda que cada vez que los Usuarios accedan a un enlace o vínculo que dirija a un sitio
      de
      tercero, se lean los términos y condiciones de uso y las políticas de privacidad del sitio al que se está
      accediendo. Los Usuarios asumen todos los riesgos asociados con el uso de cualquier contenido o servicio provisto
      por los sitios de terceros.
    </p>
    <h3>

      FUNCIONAMIENTO DEL SITIO WEB
    </h3>
    <p>

      La Empresa podrá, sin necesidad de notificación previa ni justificación, determinar la suspensión, modificación
      y/o
      terminación del sitio web. La Empresa no será responsable frente a los Usuarios por estos hechos. La Empresa podrá
      ejercer los derechos establecidos en este apartado por razones técnicas, comerciales, de actualización,
      mantenimiento, contractuales o de conveniencia.
    </p>
    <h3>

      OBLIGACIONES DE LOS USUARIOS CON RELACIÓN AL USO DEL SITIO WEB
    </h3>
    <p>


      Los Usuarios se comprometen a cumplir con toda la normativa aplicable y son los únicos responsables de toda la
      actividad de su cuenta, registro o contraseña, y con relación a la información o material que incluyan en el sitio
      web.
    </p>
    <p>

    </p>
    <p>

    
    Los Usuarios no realizarán ni promoverán cualquiera de las siguientes conductas en el sitio web:

    <br>1. Uso irregular de la cuenta;
    <br>2. Utilización de los servicios tanto de La Empresa como de los sitios de terceros para actividades prohibidas
    por
    alguna norma vigente, sea ella de orden penal, civil, administrativa o municipal;
    <br>3. Incumplimiento de los Términos y Condiciones, la Política de Privacidad y el orden legal aplicable;
    <br>4. Ingreso de datos incompatibles;
    <br>5. Utilización o carga de cualquier información en la que: (a) Usen palabras o imágenes inadecuadas, violentas,
    ofensivas, discriminatorias o que vayan en contra de la moral y las buenas costumbres. (b) Muestren personas
    consumiendo cualquier sustancia ilegal o que hagan alusión a la manipulación o consumo de una sustancia ilegal. (c)
    Muestren contenido racista, xenófobo, discriminatorio por cuestiones de religión, preferencias o tendencias sexuales
    u opiniones políticas, de apología a los delitos, terrorismo o atentatorio contra los derechos humanos,
    pornográficas, obscenas o que afecten los derechos de menores. (e) Difamen, insulten, acosen, acechen, amenacen o
    infrinjan de cualquier otra forma los derechos de terceros.
    <br> 6. Alterar, modificar, interferir, interrumpir o dañar el sitio web, los equipos de computación (hardware),
    programas de computación (software) o equipos o sistemas de telecomunicaciones o distribución de los Datos. Esto
    aplicará tanto a Datos de los Usuarios como a cualquier información referente a La Empresa;
    <br>7. Realizar cualquier conducta que afecte los intereses de La Empresa o de los Usuarios;
    <br>8. Introducir o difundir virus informáticos, troyanos, bugs, spyware, malware o cualquier tipo de archivo,
    programa
    o dato que sean susceptibles de provocar daños de cualquier tipo en el sitio web;
    <br>9. Utilizar o lanzar cualquier sistema automatizado, incluyendo, sin limitar: robots, "arañas" o “spiders”,
    "lectores fuera de línea" u “offline readers” que accedan al sitio web, de forma tal que generen un tráfico con los
    servidores utilizados por La Empresa. La excepción son los que un Usuario podría razonablemente producir, utilizando
    para ello un navegador convencional. Lo anterior no obsta a la autorización especial que La Empresa concede a los
    responsables de motores públicos de búsqueda con el único propósito de crear índices de búsqueda que permitan a sus
    usuarios localizar el sitio web;
    <br>10. Recolectar u obtener del sitio web información personal identificable de otros Usuarios o utilizar los
    sistemas
    de comunicación disponibles en el sitio web para contactar a otros Usuarios con fines comerciales, excepto en
    aquello que esté autorizado por la Política de Privacidad;
    <br> 11. Evitar, inhabilitar o interferir de cualquier forma en los programas, utilidades, aplicaciones o funciones
    relacionadas con la seguridad o el uso o acceso no autorizado al sitio web.
    </p>
    <h3>

      SANCIONES
    </h3>
    <p>

      La inobservancia de las obligaciones por parte de los Usuarios dará lugar a que La Empresa suspenda o cancele el
      registro de los Usuarios y la habilitación de la cuenta, sin perjuicio de las acciones legales penales o civiles
      que
      pudieran corresponder.

    </p>
    <h3>

      DESCONEXIÓN DEL SITIO WEB
    </h3>
    <p>

      Ante eventuales desconexiones por motivos de mantenimiento del sitio web o por acontecimiento de cualquier
      naturaleza que se encuentren fuera del alcance o control de La Empresa, se recomienda al Usuario contactar a la
      dirección de correo electrónico: ________@abako.com.py para poder solucionar el problema con la mayor eficiencia
      posible.
    </p>
    <h3>


      ACEPTACIÓN Y MODIFICACIONES

    </h3>
    <p>

      Mediante el uso y acceso a la Plataforma, al pulsar “ACEPTO” estos Términos y Condiciones y previo a registrarse y
      crear su Cuenta, usted reconoce de manera expresa que ha leído, entendido y que está de acuerdo con lo estipulado
      en
      estos Términos y Condiciones y la Política de Privacidad. Si usted no acepta estos Términos y Condiciones, usted
      no
      está autorizado a usar esta Plataforma.
    </p>
    <p>


      Si usted ingresa a la Plataforma mediante la aceptación de estos Términos y Condiciones, en nombre de una empresa
      o
      institución, acepta y declara que la empresa o institución que representa y registra como Usuario, acepta estos
      Términos y Condiciones, incluida la Política de Privacidad.
    </p>
    <p>


      El Usuario reconoce que la Empresa a través del uso de la Plataforma, almacena los datos personales que el Usuario
      libre y voluntariamente ha suministrado, y que ha dado su consentimiento expreso para el almacenamiento,
      procesamiento y uso de sus datos. Para más información sobre el uso los datos personales que recopilamos, para qué
      fines utilizamos sus datos personales, con quién podemos compartirlos, durante cuánto tiempo los mantenemos y cómo
      puede ejercer sus derechos de acceso, rectificación, y supresión en virtud de las leyes de protección de datos
      aplicables en la República del Paraguay, por favor consulte la Política de Privacidad aquí: ___________ (link de
      Política de Privacidad).
    </p>
    <h3>

      LIMITACIÓN DE RESPONSABILIDAD Y DEBER DE INDEMNIDAD
    </h3>
    <p>

      Los Usuarios comprenden y aceptan las características y los riesgos propios de la conexión y navegación por
      Internet. Por lo tanto, La Empresa no será responsable por fallas, interrupciones o caídas de la red o de los
      servicios de conexión y/o transmisión de datos. Asimismo, La Empresa tampoco garantiza el acceso al sitio web en
      forma ininterrumpida, precisa o sin errores. Por lo tanto, La Empresa no responderá por cualquier daño que
      eventualmente los Usuarios puedan llegar a sufrir por dichas circunstancias, siempre y cuando el mismo no sea
      atribuible a La Empresa.
    </p>
    <p>

      La Empresa usa antivirus y protección contra bugs, troyanos, malware, spyware y otros riesgos en Internet (los
      “Riesgos”). Sin embargo, ello podría no ser suficiente y no releva a los Usuarios de la responsabilidad de contar
      con sus propios métodos de protección para una navegación, acceso y uso seguro de sitios de Internet. Por lo
      tanto,
      La Empresa no se responsabiliza por cualquier daño ocasionado por estos Riesgos.

    </p>
    <p>

      La Empresa utiliza el sistema de seguridad cifrado por SSL, capa de conexión segura, para encriptar los Datos de
      los
      Usuarios cargados en el sitio web.
    </p>
    <p>

      Los Usuarios se comprometen a indemnizar y mantener indemne a La Empresa de toda pérdida, gasto, daño, perjuicio,
      costos u honorarios que se originen por cualquier violación a las normas aplicables o a los Términos y Condiciones
      que se deriven del mal uso del sitio web por parte de los Usuarios.

    </p>
    <p>

      Los Usuarios aceptan que el uso del sitio web se realiza bajo su exclusiva responsabilidad. Por lo tanto, La
      Empresa
      no se hará cargo de indemnizar por ningún daño producido debido a pérdidas o deterioros de la información, ni por
      las demoras, interrupciones y defectos que pudieran existir en las transmisiones, mediante la utilización del
      sitio
      web, así como tampoco de los virus o fallas del sistema, siempre que ello no sea imputable a La Empresa.
    </p>
    <p>

      La Empresa r en ninguna circunstancia será responsable por los sitios de terceros. Por lo tanto, los Usuarios se
      obligan a mantener indemne a La Empresa de cualquier reclamo en este sentido.
    </p>
    <p>

      Las limitaciones a la responsabilidad de La Empresa establecidas en el presente apartado, así como las reglas de
      indemnidad, alcanzan también a los directores, administradores, representantes, funcionarios, empleados y/o
      asesores
      de la empresa, los que también quedan liberados de cualquier responsabilidad.
    </p>
    <h3>

      COMUNICACIONES
    </h3>
    <p>

      Las comunicaciones oficiales de carácter vinculante serán realizadas por La Empresa mediante correo electrónico a
      la
      dirección de correo electrónico que los Usuarios provean al registrarse. La Empresa provee la siguiente dirección
      de
      correo electrónico _______@abako.com.py para consultas cotidianas y reclamos.
    </p>
    <h3>

      PROPIEDAD INTELECTUAL
    </h3>
    <p>

      Los Usuarios reconocen y aceptan que todos los derechos de propiedad intelectual e industrial del sitio web son
      propiedad de La Empresa, al margen de la información publicada de las entidades financieras, las cuales son de
      acceso público a través de los sitios web de cada una. La Empresa otorga a los Usuarios debidamente registrados
      una
      licencia limitada, no exclusiva, intransferible y revocable unilateralmente por ella, a fin de que los mismos
      puedan
      acceder a la utilización del sitio web.
    </p>
    <h3>

      CONFIDENCIALIDAD
    </h3>
    <p>

      Los Usuarios se comprometen a guardar estricta reserva y confidencialidad respecto a toda la información que
      llegase
      a su conocimiento por la utilización del sitio web, durante la vigencia de estos Términos y Condiciones e
      inclusive
      con posterioridad a su terminación. Para el uso y divulgación de los Datos de los Usuarios, La Empresa se regirá
      por
      las condiciones establecidas en: __________ (link de Política de Privacidad), que es aceptada por los Usuarios por
      medio de la aceptación de estos Términos y Condiciones.
    </p>
    <h3>

      LEY APLICABLE
    </h3>
    <p>

      Los presentes Términos y Condiciones, así como la relación entre La Empresa y los Usuarios, se regirán e
      interpretarán con arreglo al derecho de la República del Paraguay.
    </p>
    <h3>

      RESOLUCIÓN DE CONTROVERSIAS
    </h3>
<p>

    Los Usuarios y La Empresa acuerdan someter cualquier controversia que surja de la ejecución de estos Términos y
    Condiciones o que tenga que ver con los mismos, con su interpretación, validez o invalidez, a los tribunales
    ordinarios de la jurisdicción de la Capital de la República del Paraguay, Asunción.
</p>
  </div>
</div>