<div class="post-wrapper">
  <div class="main">
    <img src="/images/blog_1_1.jpeg" alt="" class="full-img">
    <h2>
      ¿Cómo administro mis finanzas personales?
    </h2>
    <p>

      ¿Cuánto dinero ahorro? ¿Necesito invertir? ¿Guardo la plata debajo del colchón? ¿Qué pasa si tengo un accidente y
      no tengo recursos para cubrir los gastos?
    </p>
    <p>

      Estas, y muchas otras más, son preguntas que nos hacemos a diario. Por lo general, no tenemos una idea clara de
      cómo
      administrar nuestros ingresos y recursos. Muchas veces consideramos estas dudas muy complejas de resolver. Y un
      error muy común es considerar que no tenemos los ingresos suficientes como para hacernos estas preguntas y
      responderlas de la mejor manera. Usualmente, decidimos vivir el día a día y no ocuparnos de estos asuntos.
    </p>
    <p>

      Sin embargo, muchos asesores y expertos en finanzas personales recomiendan organizar nuestros ingresos de una
      manera
      simple. En este artículo nos gustaría compartirles esta estrategia que es fácilmente aplicable a todos, en 4 pasos
      sencillos:
    </p>
    <div class="half left-content">
<div class="left-item">

    <h3>

      1. Ingresos y costos fijos
    </h3>
    <p>

      Lo primero que deberías hacer (que nadie quiere hacer) es contabilizar tus ingresos -por lo general fijos, o en
      promedio- a lo largo de un periodo de tiempo. Digamos, un año. Esto te dará una previsión, por lo menos
      estimativa,
      de los recursos que tienes para administrar. Es el primer paso y más importante de todos, dado que muchas veces,
      en
      el día a día, no sabemos de cuánto disponemos y simplemente vamos gastando mes a mes lo que vamos ganando. Cuando
      se
      acaba el dinero del mes, esperando el siguiente.

    </p>
    <p>

      Lo segundo, una vez identificados los ingresos es computar nuestros costos y gastos fijos, también dentro de un
      período de tiempo. Por lo general, de manera mensual, hasta llegar a proyectar un año. Por supuesto esto puede
      sufrir variables, ya que todos los meses podemos tener imprevistos y gastos diversos. Pero la idea es tener un
      esquema estimativo de cuánto nos cuesta “mantenernos”, por lo menos de manera esencial.
    </p>
    <p>

      Una vez que tengamos una idea más clara de cuántos ingresos generamos, y cuantos costos fijos tenemos, podemos
      empezar a administrar nuestras finanzas. Para esto necesitamos 3 cuentas (lo ideal es que sean bancarias, para no
      “mezclar” fondos para uno y otro objetivo).
    </p>
    </div>
<div class="right-item">
  <img src="/images/blog_1_2.jpeg" alt="">
</div>
</div>
    <h3>

      2. Cuenta de “Inversiones”
    </h3>
    <p>

      La primera y más importante de todas las cuentas es la de “inversiones” o como muchos la llaman de “libertad
      financiera”. El objetivo de esta cuenta es acumular recursos para inversiones y rendimiento de capital. NUNCA,
      pero
      NUNCA se utilizan los fondos de esta cuenta para gastos.
    </p>
    <p>

      Para acumular recursos en esta cuenta, tenemos que definir un porcentaje de nuestros ingresos, en base a los
      cálculos hechos en el Paso 1. Podría ser un 10 % o un 20 %, por ejemplo, de nuestros ingresos. Esto significa que
      CADA VEZ que tengamos ingresos, no importa de qué naturaleza, dediquemos el porcentaje asignado a esta cuenta. Sin
      excepciones. Es una regla de oro.
      Un punto muy importante a tener en cuenta es que el porcentaje dedicado a esta cuenta es lo PRIMERO de lo que nos
      tenemos que ocupar, antes de pagar nuestros costos fijos. Es una muy mala costumbre dedicar un porcentaje a
      inversiones luego de pagar nuestros gastos, porque por lo general ya no queda nada.
    </p>
    <p>

      Otro consejo muy importante es que esta cuenta debe existir sea que tengamos ingresos de G. 1.000.000 o G.
      10.000.000 al mes. Es conceptual. Y si lo respetamos tendremos recursos para hacer inversiones que nos generen más
      capital.
    </p>
    <p>

      ¿Adónde van los recursos de esta cuenta? A inversiones como: certificados de depósito de ahorro (CDAs), bonos o
      acciones de bolsa, bienes raíces, negocios o emprendimientos. En síntesis, a todo aquello que haga rendir nuestro
      dinero y lo convierta -a futuro- en más dinero.
    </p>
    <h3>

      3. Cuenta de “Ahorros e imprevistos”
    </h3>
    <p>

      Nuestra segunda cuenta funciona, en parte, como la primera, pero tiene un objetivo diferente: ahorros a largo
      plazo
      y cobertura para imprevistos. A esta cuenta dedicaremos también un porcentaje de nuestros ingresos para acumular
      dinero en el tiempo. Por ejemplo, podría ser un 15 % de nuestros ingresos mensuales. Con el tiempo tendremos una
      fuente de ahorros importante, para cubrir algunos aspectos de nuestra vida.
    </p>
    <p>

      ¿Adónde van los recursos de esta cuenta? Esta cuenta está destinada a cubrir algunos gastos de mayor envergadura y
      que no forman parte de nuestro día a día esencial, como, por ejemplo: viajes, regalos cursos o capacitaciones, o
      incluso una vivienda. También tiene como objetivo generar un “fondo de emergencia” en caso de que el día de mañana
      tengamos un gasto imprevisto. Por ejemplo: un accidente, una enfermedad, etc. Funciona también como un seguro
      propio
      (sin dejar de lado el pago de un seguro médico, que entraría bajo el concepto de costo fijo todos los meses).
    </p>
    <div class="half right-content">
      <div class="left-item">
        <img src="/images/blog_1_1.jpeg" alt="">
      </div>
      <div class="right-item">

      
    <h3>

      4. Cuenta de “Gastos y costos fijos”
    </h3>
    <p>

      Por último, tenemos nuestra cuenta del día a día, la cuenta de “costos fijos”. Esta cuenta está destinada a
      brindarnos los recursos para nuestros costos fijos periódicos, que los calculamos en el Paso 1. Por lo general, y
      por definición, esta cuenta ocupara el mayor porcentaje de nuestros ingresos; digamos, un 70 % u 80 %, dependiendo
      del nivel de vida que queramos y de los ingresos de los que dispongamos.
    </p>
    <p>

      ¡Ojo! Aunque esto no siempre debe ser así, no existe una ciencia exacta respecto del porcentaje al que queramos
      asignar para nuestros costos fijos. En la medida en que dediquemos mayores recursos a “inversión” o “ahorro”
      (sobre
      todo a inversión), a largo plazo -y más rápidamente-, acumularemos capital que genere rendimientos, lo que nos
      otorgará la posibilidad de generar recursos sin trabajar.
    </p>
    <p>
      ¿Adónde van los recursos de esta cuenta? Como dijimos, a costos fijos: electricidad, agua, seguro médico,
      telefonía,
      cable, combustible, comida, y otros.
    </p>
    </div>
    </div>
    <h4>
      <b>
        ¡Esperemos que estos consejos te sirvan para administrar tus recursos de una manera más eficiente y ordenada,
        para
        alcanzar una vida plena con libertad financiera!
      </b>
    </h4>

  </div>
</div>